* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  padding: 10px;
}

h1 {
  font-weight: bold;
  color: red;
}

fieldset {
  background-color: green;
  border: 2px solid black;
  border-radius: 7px;
  box-shadow: 1px 1px 5px black;
  margin: 10px;
}

legend {
  font-weight: bold;
  font-size: 25px;
  border: 1px solid black;
  background-color: blue;
  width: 500px;
  height: 25px;
  box-shadow: 1px 1px 3px black;
  padding-bottom: 30px;
}

label {
  font-weight: bold;
  font-size: 15px;
}

button {
  width: 100px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: border 2s;
}

button:hover {
  border: 4px solid black;
}

input {
  border: 1px solid black;
  background-color: yellow;
}

label,
input {
  margin: 10px;
}

form > fieldset > div:first-of-type {
  margin-top: 20px;
}

div {
  margin: 5px;
}
