* {
    margin: 0;
}

header, nav, footer {
    background-color: rgb(118, 183, 244);
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
}

nav {
    position: fixed;
    top: 10%;
    left: 0px;
    width: 100%;
    height: 10%;
}

header, nav {
    padding-left: 10px;
}

main {
    position: fixed;
    top: 20%;
    left: 0px;
    width: 100%;
    height: 70%;
    background-color: rgb(146, 198, 244);
}

aside {
    position: fixed;
    right: 0;
    height: 70%;
    width: 30%;
    background-color: rgb(119, 174, 245);
}

aside > h3, aside > p {
    padding: 5px 0 0 10px;
}

section {
    height: 100%;
    width: 70%;
    margin-left: 2px;
}

iframe  {
    width: 100%;
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
}

footer > h3 {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.translateIMG {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

img {
    transition: transform 2s ease-in-out 0s;
}

img:hover {
    transform: rotate(360deg);
}

h1, h3 {
    font-weight: bold;
    font-size: 24px;
    color: red;
    text-align: center;
    text-transform: capitalize;
}

a {
    font-weight: bold;
    font-size: 24px;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 1s 0s;
}

a:hover {
    font-size: 30px;
    color: blueviolet;
}

form {
    background-color: rgb(127, 201, 214);
    width: 450px;
    padding: 10px;
    margin: 50px 0 50px 0;
    border: 2px rgba(6, 6, 6, 1.00) dotted;
    border-radius: 20px;
    box-shadow: 5px 10px 20px black;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

textarea {
    width: 100%;
    height: 90px;
}

fieldset {
    border-radius: 7px;
    border: 1px black solid;
    margin-bottom: 10px;
    padding: 20px;
}

legend {
    padding: 0 10px 0 10px;
    color: darkorchid;
    font-size: 20px;
    font-weight: bold;
}

label {
    color: azure;
    font-size: 18px;
    font-weight: bold;
}

select, input, textarea {
    background-color: aquamarine;
    border: 1px black solid;
    border-radius: 7px;
    height: 20px;
    margin-bottom: 10px;
    padding: 4px;
}

button {
    width: 130px;
    height: 40px;
    background-color: beige;
    border: 2px black solid;
    border-radius: 20px;
    color: blue;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.button-container {
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

input[type="radio"] {
    width: 20px;
    height: 15px;
}